.user-profile {
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #000000;
}

.user-info p {
  margin: 10px 0;
}

.user-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-edit-btn,
.user-logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.user-edit-btn:hover,
.user-logout-btn:hover {
  background-color: #0056b3;
}

.move-page-icon {
  margin-left: 10px;
}
