.div-relative-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: -6px;
  left: 0;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  mix-blend-mode: normal;
  z-index: 3;
}
.icon1,
.icon2 {
  height: 12px;
  width: 57.2px;
  position: relative;
  mix-blend-mode: normal;
}
.icon2 {
  height: 11.3px;
  width: 62px;
  position: absolute;
  margin: 0 !important;
  top: -1px;
  left: -4.6px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.beta-button-icon-wrapper,
.beta-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.beta-icons {
  flex-direction: row;
  position: relative;
}
.beta-button-icon-wrapper {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.is-currently-in {
  position: relative;
  line-height: 14px;
  display: inline-block;
  min-width: 123px;
  white-space: nowrap;
}
.is-currently-in-beta-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-3) 0 0;
}
.icon3 {
  height: 20px;
  width: 21px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.beta-content,
.button-beta-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-beta-btn {
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-600);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-11xs);
  mix-blend-mode: normal;
  z-index: 4;
}
.beta-content {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-5xl) 0 var(--padding-xl);
}
.ai-for-teams,
.whats-next {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -3.69px;
  line-height: 63px;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(transparent, transparent),
    linear-gradient(180deg, #fff, #bababa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 4;
}
.whats-next-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.ai-for-teams-building-parent,
.beta-content-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ai-for-teams-building-parent {
  align-self: stretch;
  gap: var(--gap-base-8);
  font-size: var(--font-size-45xl);
}
.beta-content-parent {
  width: 557px;
  gap: var(--gap-4xl-1);
  max-width: 100%;
}
.scout-gives-you,
.workflows-in-record {
  position: relative;
  line-height: 26px;
  z-index: 5;
}
.workflows-in-record {
  z-index: 4;
}
.workflow-description,
.workflow-time {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.workflow-time {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-6xl);
}
.workflow-description {
  flex-direction: column;
  justify-content: flex-start;
}
.get-started {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  min-width: 78px;
  white-space: nowrap;
}
.icon4 {
  width: 21px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-7) 0 0;
}
.link-btn-2-wrapper,
.link-btn-21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.link-btn-21 {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-6xs) var(--padding-mini) var(--padding-6xs)
    var(--padding-mid);
  background-color: transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  border-radius: var(--br-7xl);
  background: linear-gradient(180deg, #fff, #fff), #f3f2ff;
  overflow: hidden;
  justify-content: flex-start;
  gap: var(--gap-9xs-4);
  mix-blend-mode: normal;
  z-index: 4;
}
.link-btn-2-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-6xl);
}
.agent-building-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  max-width: 100%;
}
.agent-building-content-wrapper {
  width: 548px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--color-gray-500);
}
.div-hidden2 {
  position: absolute;
  top: 0;
  left: 363px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.06), #1f1f1f 60%);
  width: 1px;
  height: 1137.4px;
  mix-blend-mode: normal;
  z-index: 4;
}
.hidden-icon,
.icon5 {
  width: 364px;
  position: absolute;
}
.icon5 {
  top: 79px;
  left: 0;
  height: 224px;
  overflow: hidden;
  mix-blend-mode: normal;
  z-index: 5;
}
.hidden-icon {
  height: 1137.4px;
  margin: 0 !important;
  top: -6px;
  right: 0;
}
.content-wrapper,
.content-wrapper-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.content-wrapper {
  width: 839.5px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-146xl) var(--padding-68xl) var(--padding-582xl-8);
  position: relative;
  gap: var(--gap-13xl-5);
}
.content-wrapper-wrapper {
  width: 1333.5px;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 var(--padding-xl);
  margin-top: -73px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .content-wrapper {
    padding-top: var(--padding-74xl);
    padding-bottom: var(--padding-372xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .ai-for-teams,
  .whats-next {
    font-size: var(--font-size-32xl);
    line-height: 50px;
  }
}
@media screen and (max-width: 750px) {
  .agent-building-content {
    gap: var(--gap-xl);
  }
  .content-wrapper {
    gap: var(--gap-base);
    padding-left: var(--padding-24xl);
    padding-right: var(--padding-24xl);
    padding-bottom: var(--padding-235xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .ai-for-teams,
  .whats-next {
    font-size: var(--font-size-19xl);
    line-height: 38px;
  }
  .scout-gives-you,
  .workflows-in-record {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .content-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
