.div-shrink,
.div-shrink1 {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 80px;
  height: 141.8px;
  mix-blend-mode: normal;
}
.div-shrink1 {
  top: 141.8px;
  z-index: 1;
}
.div-shrink-parent {
  height: 283.6px;
  flex: 1;
  position: relative;
}
.div-hidden3 {
  width: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-122xl-9);
  box-sizing: border-box;
  mix-blend-mode: normal;
  z-index: 6;
}
.div-logo-icon,
.div-logo-icon1 {
  width: 142.3px;
  height: 141.8px;
  position: relative;
  object-fit: cover;
  mix-blend-mode: normal;
}
.div-logo-icon1 {
  z-index: 1;
}
.div-logo-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div-logo-icon2 {
  width: 142.3px;
  height: 141.8px;
  position: relative;
  object-fit: cover;
  mix-blend-mode: normal;
}
.div-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-1);
  mix-blend-mode: normal;
  z-index: 5;
}
.background-images-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.scout-is-an {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -2.69px;
  line-height: 36px;
  font-weight: 500;
  font-family: inherit;
  flex-shrink: 0;
  z-index: 1;
}
.testimonial-statements {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl) 0 var(--padding-lgi);
}
.our-engineering-ds,
.to-engage-with {
  position: relative;
  font-size: inherit;
  letter-spacing: -2.69px;
  line-height: 36px;
  font-weight: 500;
  font-family: inherit;
  flex-shrink: 0;
  z-index: 1;
  margin: -0.8px 0 0;
}
.to-engage-with {
  margin: 0;
  white-space: pre-wrap;
}
.testimonial-statements1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 0 var(--padding-3xs);
  margin-top: -0.8px;
}
.rely-on-scout {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -2.69px;
  line-height: 36px;
  font-weight: 500;
  font-family: inherit;
  flex-shrink: 0;
  z-index: 1;
}
.testimonial-statements2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-19xl) 0 var(--padding-15xl);
  margin-top: -0.8px;
}
.integral-part-of {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -2.69px;
  line-height: 36px;
  font-weight: 500;
  font-family: inherit;
  flex-shrink: 0;
  z-index: 1;
}
.testimonial-statements-parent,
.testimonial-statements3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.testimonial-statements3 {
  flex-direction: row;
  padding: 0 var(--padding-20xl) 0 var(--padding-21xl);
  margin-top: -0.8px;
}
.testimonial-statements-parent {
  flex-direction: column;
  max-width: 100%;
}
.div-rounded-full-icon {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-9980xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  mix-blend-mode: normal;
  z-index: 1;
}
.author-image-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-17xl) 0 var(--padding-16xl);
}
.vijaye-raji {
  position: relative;
  line-height: 21px;
  display: inline-block;
  min-width: 77px;
  z-index: 1;
}
.author-name-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mid);
}
.ceo-of-statsig {
  position: relative;
  line-height: 21px;
  color: var(--color-gray-500);
  display: inline-block;
  min-width: 111px;
  z-index: 1;
}
.author-content,
.author-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs-8);
}
.author-content {
  gap: var(--gap-xs-6);
}
.author-content-wrapper,
.div-bg-stars {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.author-content-wrapper {
  width: 471.8px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  font-size: var(--font-size-base);
}
.div-bg-stars {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-40xl-9) var(--padding-xl) var(--padding-41xl-2)
    var(--padding-2xl);
  position: relative;
  gap: var(--gap-12xl-3);
  mix-blend-mode: normal;
  min-width: 483px;
  z-index: 4;
}
.div-logo-icon3,
.div-logo-icon4 {
  width: 142.3px;
  height: 141.8px;
  position: relative;
  object-fit: cover;
  mix-blend-mode: normal;
}
.div-logo-icon4 {
  z-index: 1;
}
.div-logo-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div-logo-icon5 {
  width: 142.3px;
  height: 141.8px;
  position: relative;
  object-fit: cover;
  mix-blend-mode: normal;
}
.div-flex1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-1);
  mix-blend-mode: normal;
  z-index: 3;
}
.div-shrink2,
.div-shrink3 {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 80px;
  height: 141.8px;
  mix-blend-mode: normal;
}
.div-shrink3 {
  top: 141.8px;
  z-index: 1;
}
.div-shrink-group {
  height: 283.6px;
  flex: 1;
  position: relative;
}
.div-hidden4,
.testimonial-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.div-hidden4 {
  width: 80px;
  padding: 0 0 var(--padding-122xl-9);
  mix-blend-mode: normal;
  z-index: 3;
}
.testimonial-layout {
  align-self: stretch;
  flex-wrap: wrap;
  padding: 0 0 var(--padding-80xl-5);
  max-width: 100%;
}
.a-plan-for {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -2px;
  line-height: 40px;
  font-weight: 400;
  font-family: inherit;
  z-index: 5;
}
.plan-heading {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
}
.whether-you-are {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 26px;
  color: var(--color-gray-100);
  z-index: 5;
}
.plan-intro,
.pricing-intro {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.plan-intro {
  width: 661px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.pricing-intro {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
}
.image-icon {
  height: 21px;
  width: 21px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
  min-height: 21px;
}
.hobby {
  position: relative;
  letter-spacing: 0.65px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 49px;
}
.div-plan-name-hobby,
.hobby-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-6) 0 0;
}
.div-plan-name-hobby {
  width: 91.8px;
  border-radius: var(--br-base);
  background: linear-gradient(
      92deg,
      rgba(16, 141, 81, 0.2) 15.83%,
      rgba(23, 23, 23, 0.2) 63.01%
    ),
    rgba(255, 255, 255, 0.02);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-9xs);
  gap: var(--gap-7xs);
  mix-blend-mode: normal;
}
.hobby-price {
  position: relative;
  letter-spacing: -1px;
  line-height: 40px;
  display: inline-block;
  min-width: 40px;
  white-space: nowrap;
}
.a-first-step,
.great-for-personal,
.the-scout-platform {
  position: relative;
  line-height: 21px;
  flex-shrink: 0;
}
.paragraph-mt-2 {
  height: 62.4px;
  padding: 0 0 var(--padding-xl-4);
  box-sizing: border-box;
  opacity: 0.5;
  mix-blend-mode: normal;
  font-size: var(--font-size-base);
}
.div-plan-name-hobby-parent,
.hobby-description,
.paragraph-mt-2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hobby-description {
  gap: var(--gap-5xs-9);
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-helvetica);
}
.div-plan-name-hobby-parent {
  gap: var(--gap-base-7);
}
.sign-up1 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-family: var(--font-helvetica);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 50px;
}
.link-sign-up {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-78xl);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-7xl);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08),
    rgba(222, 222, 222, 0.08)
  );
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.icon6 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.hobby-feature-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.interactions-gpt-35,
.only {
  position: relative;
  line-height: 20px;
}
.only {
  display: inline-block;
  min-width: 34px;
}
.hobby-feature-labels,
.hobby-feature-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hobby-feature-list {
  flex-direction: row;
  gap: var(--gap-xs);
}
.icon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
  min-height: 24px;
}
.deploy-1-app {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 84px;
}
.deploy-1-app-wrapper,
.hobby-feature-list1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.deploy-1-app-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.hobby-feature-list1 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.icon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
  min-height: 24px;
}
.connect-1-collection {
  position: relative;
  line-height: 20px;
}
.connect-1-collection-wrapper,
.hobby-feature-list2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.connect-1-collection-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.hobby-feature-list2 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.icon9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
  min-height: 24px;
}
.gb-of-storage {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 105px;
}
.gb-of-storage-wrapper,
.hobby-feature-list3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.gb-of-storage-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.hobby-feature-list3 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.icon10 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.community-support,
.discord {
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.community-support {
  min-width: 124px;
  white-space: nowrap;
}
.discord {
  min-width: 57px;
  z-index: 1;
}
.community-support-parent,
.hobby-feature-list4,
.hobby-features,
.section-hobby {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hobby-feature-list4,
.hobby-features,
.section-hobby {
  flex-direction: row;
  gap: var(--gap-xs);
}
.hobby-features,
.section-hobby {
  flex-direction: column;
  font-size: var(--font-size-sm);
  color: var(--color-aliceblue);
  font-family: var(--font-helvetica);
}
.section-hobby {
  flex: 0.8351;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: var(--br-base);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(12, 207, 113, 0.1),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(27, 27, 27, 0),
      rgba(27, 27, 27, 0) 49.48%
    );
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  padding: var(--padding-12xl) var(--padding-5xl) var(--padding-42xl);
  gap: var(--gap-5xl);
  min-width: 227px;
  z-index: 5;
  font-size: var(--font-size-smi);
  color: var(--color-lightgray-200);
  font-family: var(--font-inter);
}
.image-absolute-icon,
.image-icon1,
.section-hobby {
  overflow: hidden;
  mix-blend-mode: normal;
}
.image-absolute-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.image-icon1 {
  height: 21px;
  width: 21px;
  position: relative;
  flex-shrink: 0;
  object-fit: contain;
  min-height: 21px;
}
.pro {
  position: relative;
  font-size: var(--font-size-smi);
  letter-spacing: 0.65px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-lightgray-200);
  text-align: left;
  display: inline-block;
  min-width: 29px;
}
.div-plan-name-pro,
.pro-name-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-6) 0 0;
}
.div-plan-name-pro {
  cursor: pointer;
  border: 1px solid var(--color-gray-700);
  padding: var(--padding-11xs) var(--padding-9xs);
  background-color: transparent;
  width: 71.7px;
  border-radius: var(--br-base);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(
      92deg,
      rgba(192, 112, 216, 0.3) 15.83%,
      rgba(23, 23, 23, 0.3) 63.01%
    ),
    rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  flex-direction: row;
  gap: var(--gap-7xs);
  mix-blend-mode: normal;
  z-index: 1;
}
.pro-price {
  position: absolute;
  margin: 0 !important;
  bottom: -13.7px;
  left: 24px;
  letter-spacing: -1px;
  line-height: 40px;
  display: inline-block;
  min-width: 59px;
  white-space: nowrap;
  z-index: 1;
}
.pro-name-container {
  margin-top: -204.5px;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-92xl-9) var(--padding-5xl) var(--padding-23xl);
  position: relative;
}
.limited-context,
.perfect-for-building,
.scaling-models-with {
  position: relative;
  line-height: 21px;
  flex-shrink: 0;
}
.limited-context {
  display: inline-block;
  min-width: 107px;
}
.paragraph-mt-21,
.pro-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.paragraph-mt-21 {
  height: 62.4px;
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-xl-4);
  box-sizing: border-box;
  opacity: 0.5;
  mix-blend-mode: normal;
}
.pro-description {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  font-size: var(--font-size-base);
}
.sign-up2 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-family: var(--font-helvetica);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  min-width: 50px;
}
.link-sign-up1,
.pro-signup-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.link-sign-up1 {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-6xs) var(--padding-78xl);
  background-color: transparent;
  flex: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  border-radius: var(--br-7xl);
  background: linear-gradient(180deg, #fff, #fff), #f3f2ff;
  overflow: hidden;
  justify-content: center;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.link-btn-22:hover,
.link-sign-up1:hover {
  background-color: var(--color-lavender-200);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.pro-signup-button {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
}
.icon11 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.unlimited-interactions {
  position: relative;
  line-height: 20px;
}
.pro-feature-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.icon12,
.item-flex {
  mix-blend-mode: normal;
}
.item-flex {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.icon12 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.per-interaction {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 129px;
}
.per-interaction-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.icon13,
.item-flex1 {
  mix-blend-mode: normal;
}
.item-flex1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.icon13 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.deploy-10-apps {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 99px;
}
.deploy-10-apps-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.icon14,
.item-flex2 {
  mix-blend-mode: normal;
}
.item-flex2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.icon14 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.connect-10-collections {
  position: relative;
  line-height: 20px;
}
.connect-10-collections-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.icon15,
.item-flex3 {
  mix-blend-mode: normal;
}
.item-flex3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.icon15 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.tb-of-storage {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 95px;
}
.tb-of-storage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.icon16,
.item-flex4 {
  mix-blend-mode: normal;
}
.item-flex4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.icon16 {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.community-email {
  position: relative;
  line-height: 20px;
}
.community-email-support-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.item-flex5,
.list-order-last {
  gap: var(--gap-xs);
  mix-blend-mode: normal;
}
.item-flex5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl) 0 0;
}
.list-order-last {
  flex: 1;
  flex-direction: column;
}
.list-order-last,
.pro-features-container,
.section-pro {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pro-features-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  font-size: var(--font-size-sm);
}
.section-pro {
  position: absolute;
  top: 14px;
  left: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: var(--br-base);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(195, 140, 245, 0.2),
      rgba(26, 26, 26, 0.2)
    ),
    radial-gradient(50% 50%at 50% 50%, rgba(27, 27, 27, 0), #1b1b1b 49.48%);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 100%;
  height: 535px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-106xl-6) 0 var(--padding-14xl);
  gap: var(--gap-4xl-2);
  mix-blend-mode: normal;
  z-index: 5;
}
.most-popular {
  position: relative;
  letter-spacing: 0.39px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 500;
  background: linear-gradient(transparent, transparent),
    linear-gradient(
      91deg,
      rgba(255, 255, 255, 0.72) 0.5%,
      #fff 31.86%,
      rgba(255, 255, 255, 0.72) 50.28%,
      #fff 70.19%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 109px;
}
.div-most-popular {
  position: absolute;
  top: 0;
  left: 80.6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3),
    0 1px 0 rgba(255, 255, 255, 0.06) inset;
  border-radius: var(--br-base);
  background: linear-gradient(
      222deg,
      rgba(255, 255, 255, 0.2) 8.7%,
      transparent 37.9%
    ),
    linear-gradient(37deg, rgba(195, 140, 245, 0.28) 11.56%, transparent 86.3%),
    radial-gradient(50% 50%at 50% 50%, rgba(27, 27, 27, 0), #1b1b1b 49.48%);
  border: 1px solid var(--color-gray-600);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs) var(--padding-7xs)
    var(--padding-smi);
  mix-blend-mode: normal;
  white-space: nowrap;
  z-index: 6;
  font-size: var(--font-size-smi);
  font-family: var(--font-inter);
}
.pro-badge {
  height: 549px;
  flex: 1;
  position: relative;
  min-width: 227px;
}
.image-icon2 {
  height: 21px;
  width: 21px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
  min-height: 21px;
}
.enterprise {
  position: relative;
  font-size: var(--font-size-smi);
  letter-spacing: 0.65px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-lightgray-200);
  text-align: left;
  display: inline-block;
  min-width: 86px;
}
.div-plan-name-enterprise,
.enterprise-name-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-6) 0 0;
}
.div-plan-name-enterprise {
  cursor: pointer;
  border: 1px solid var(--color-gray-700);
  padding: var(--padding-11xs) var(--padding-9xs);
  background-color: transparent;
  width: 128.1px;
  border-radius: var(--br-base);
  background: linear-gradient(
      92deg,
      rgba(94, 106, 210, 0.2) 15.83%,
      rgba(23, 23, 23, 0.2) 63.01%
    ),
    rgba(255, 255, 255, 0.02);
  box-sizing: border-box;
  flex-direction: row;
  gap: var(--gap-7xs);
  mix-blend-mode: normal;
}
.custom {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 40px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 120px;
}
.changing-context,
.for-large-scale,
.with-large-and {
  position: relative;
  line-height: 21px;
  flex-shrink: 0;
}
.changing-context {
  display: inline-block;
  min-width: 126px;
}
.enterprise-description,
.paragraph-mt-22 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.paragraph-mt-22 {
  height: 62.4px;
  padding: 0 0 var(--padding-xl-4);
  box-sizing: border-box;
  opacity: 0.5;
  mix-blend-mode: normal;
  font-size: var(--font-size-base);
}
.enterprise-description {
  padding: 0 0 var(--padding-4xs-3);
  gap: var(--gap-5xs-9);
}
.request-access {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-family: var(--font-helvetica);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 102px;
}
.enterprise-signup-button,
.link-sign-up2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link-sign-up2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-48xl);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-7xl);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08),
    rgba(222, 222, 222, 0.08)
  );
  mix-blend-mode: normal;
  white-space: nowrap;
}
.enterprise-signup-button {
  align-self: stretch;
  padding: 0 0 var(--padding-4xs-3);
}
.icon17 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
  min-height: 24px;
}
.unlimited-interactions1 {
  position: relative;
  line-height: 20px;
}
.enterprise-feature-details,
.enterprise-feature-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.enterprise-feature-details {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.enterprise-feature-list {
  flex-direction: row;
  gap: var(--gap-xs);
}
.icon18 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.enterprise-pricing-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.custom-interaction,
.pricing1 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 118px;
}
.pricing1 {
  text-decoration: none;
  color: inherit;
  min-width: 43px;
}
.enterprise-custom-pricing,
.enterprise-pricing-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.enterprise-custom-pricing {
  flex-direction: row;
  gap: var(--gap-xs);
}
.icon19 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
  min-height: 24px;
}
.unlimited-apps {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 95px;
}
.enterprise-feature-list1,
.unlimited-apps-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.unlimited-apps-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.enterprise-feature-list1 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.icon20 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
  min-height: 24px;
}
.unlimited-collections {
  position: relative;
  line-height: 20px;
}
.enterprise-feature-list2,
.unlimited-collections-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.unlimited-collections-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.enterprise-feature-list2 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.icon21 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
  min-height: 24px;
}
.unlimited-storage {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 112px;
}
.enterprise-feature-list3,
.unlimited-storage-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.unlimited-storage-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.enterprise-feature-list3 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.icon22 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
  min-height: 24px;
}
.dedicated-support {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 117px;
}
.dedicated-support-wrapper,
.enterprise-feature-list4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dedicated-support-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.enterprise-feature-list4 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.enterprise-features,
.section-enterprise {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.enterprise-features {
  gap: var(--gap-xs);
  font-size: var(--font-size-sm);
  color: var(--color-aliceblue);
}
.section-enterprise {
  flex: 0.8352;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: var(--br-base);
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(92, 124, 230, 0.1),
      transparent
    ),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(27, 27, 27, 0),
      rgba(27, 27, 27, 0) 49.48%
    );
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  overflow: hidden;
  padding: var(--padding-12xl) var(--padding-4xl) var(--padding-22xl)
    var(--padding-6xl);
  gap: var(--gap-base-7);
  mix-blend-mode: normal;
  min-width: 227px;
  z-index: 5;
}
.hobby-plan-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-xl-1);
}
.dedicated-support1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 31px;
  font-weight: 400;
  font-family: inherit;
  flex-shrink: 0;
}
.support-engineer-who,
.we-are-here {
  position: relative;
  line-height: 20px;
  display: inline-block;
  max-width: 100%;
}
.models-and-getting {
  position: relative;
  line-height: 20px;
}
.dedicated-support-parent,
.paragraph-mt-3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.paragraph-mt-3 {
  opacity: 0.5;
  mix-blend-mode: normal;
  flex-shrink: 0;
  font-size: var(--font-size-base);
}
.dedicated-support-parent {
  gap: var(--gap-smi-7);
}
.whats-included {
  position: relative;
  letter-spacing: 0.65px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 129px;
  flex-shrink: 0;
  white-space: nowrap;
}
.h4-my-5,
.icon23 {
  mix-blend-mode: normal;
}
.h4-my-5 {
  height: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-5) 0;
  box-sizing: border-box;
  opacity: 0.8;
  font-size: var(--font-size-smi);
}
.icon23 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.shared-slack-channel {
  position: relative;
  line-height: 20px;
}
.inclusion-item-content,
.slack-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.slack-label {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.inclusion-item-content {
  flex-direction: row;
  gap: var(--gap-xs);
}
.icon24 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.engineering-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.guidance,
.prompt-engineering {
  position: relative;
  line-height: 20px;
}
.guidance {
  display: inline-block;
  min-width: 69px;
}
.engineering-name-label {
  flex-direction: column;
}
.engineering-icon,
.engineering-name-label,
.inclusion-item-container,
.inclusion-items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.engineering-icon {
  flex-direction: row;
  gap: var(--gap-xs);
}
.inclusion-item-container,
.inclusion-items {
  flex-direction: column;
}
.inclusion-item-container {
  gap: var(--gap-base);
}
.inclusion-items {
  padding: var(--padding-5xs) 0 0;
}
.icon25 {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.engineer-support-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.dedicated-support2,
.engineer {
  position: relative;
  line-height: 20px;
}
.engineer {
  display: inline-block;
  min-width: 65px;
}
.engineer-label,
.engineer-name-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.engineer-label {
  flex-direction: row;
  gap: var(--gap-xs);
}
.icon26 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
  min-height: 24px;
}
.context-sourcing-guidance {
  position: relative;
  line-height: 20px;
}
.sourcing-icon,
.sourcing-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sourcing-label {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.sourcing-icon {
  flex-direction: row;
  gap: var(--gap-xs);
}
.engineer-icon {
  flex-direction: column;
  gap: var(--gap-base);
}
.div-lgflex,
.engineer-icon,
.list-grid,
.support-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-grid {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-74xl-3);
  opacity: 0.8;
  mix-blend-mode: normal;
  font-size: var(--font-size-base);
}
.div-lgflex,
.support-content {
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
}
.div-lgflex {
  align-self: stretch;
  border-radius: var(--br-base) 0 0 var(--br-base);
  border: 2px solid var(--color-gray-800);
  padding: var(--padding-8xl) var(--padding-xl);
  gap: var(--gap-xl);
  mix-blend-mode: normal;
}
.support-content {
  flex: 1;
  padding: var(--padding-xs) 0 0;
  min-width: 400px;
}
.image-h-5-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
  min-height: 20px;
}
.add-on {
  position: relative;
  font-size: var(--font-size-smi);
  letter-spacing: 0.65px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: var(--font-helvetica);
  color: var(--color-lightgray-200);
  text-align: left;
  display: inline-block;
  min-width: 55px;
}
.add-on-badge-label,
.add-on-price,
.div-add-on {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-on-badge-label {
  flex-direction: column;
  padding: var(--padding-11xs-5) 0 0;
}
.add-on-price,
.div-add-on {
  cursor: pointer;
  background-color: transparent;
  flex-direction: row;
}
.div-add-on {
  border: 1px solid var(--color-gray-700);
  padding: var(--padding-11xs) var(--padding-9xs);
  flex: 1;
  border-radius: var(--br-base);
  background: linear-gradient(
      92deg,
      rgba(130, 97, 226, 0.2) 15.83%,
      rgba(23, 23, 23, 0.2) 63.01%
    ),
    rgba(255, 255, 255, 0.02);
  gap: var(--gap-7xs);
  mix-blend-mode: normal;
}
.add-on-price {
  border: 0;
  padding: 0 var(--padding-54xl);
  align-self: stretch;
}
.add-on-price1 {
  position: relative;
  letter-spacing: -1px;
  line-height: 40px;
  display: inline-block;
  min-width: 78px;
  white-space: nowrap;
}
.add-on-value {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-64xl) 0 var(--padding-59xl);
}
.monthly {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 57px;
}
.add-on-frequency,
.add-on-pricing,
.span-text-base {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.span-text-base {
  flex-direction: row;
  padding: 0 var(--padding-67xl);
  opacity: 0.8;
  mix-blend-mode: normal;
  font-size: var(--font-size-base);
}
.add-on-frequency,
.add-on-pricing {
  flex-direction: column;
  gap: var(--gap-8xs-5);
}
.add-on-pricing {
  gap: var(--gap-xs-5);
}
.request-access1 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  min-width: 108px;
}
.link-btn-22 {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-6xs) var(--padding-45xl) var(--padding-5xs)
    var(--padding-46xl);
  background-color: transparent;
  align-self: stretch;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  border-radius: var(--br-7xl);
  background: linear-gradient(180deg, #fff, #fff), #f3f2ff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.no-long-term {
  position: relative;
  line-height: 16px;
}
.contract-link,
.div-text-center,
.paragraph-mt-31 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.paragraph-mt-31 {
  align-self: stretch;
  flex-direction: row;
  opacity: 0.5;
  mix-blend-mode: normal;
}
.contract-link,
.div-text-center {
  flex-direction: column;
}
.contract-link {
  align-self: stretch;
  gap: var(--gap-xs);
  font-size: var(--font-size-xs);
}
.div-text-center {
  flex: 1;
  border-radius: 0 var(--br-xs) var(--br-xs) 0;
  border: 2px solid var(--color-gray-800);
  padding: var(--padding-8xl) var(--padding-xl);
  gap: var(--gap-5xl);
  mix-blend-mode: normal;
}
.div-dedicated-support,
.div-request-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  mix-blend-mode: normal;
}
.div-request-box {
  width: 307.3px;
  background: radial-gradient(
      50% 50%at 50% 50%,
      rgba(155, 126, 238, 0.2),
      transparent
    ),
    linear-gradient(0deg, rgba(12, 10, 11, 0.5), rgba(12, 10, 11, 0.5)),
    radial-gradient(
      50% 50%at 50% 50%,
      rgba(27, 27, 27, 0),
      rgba(27, 27, 27, 0.8)
    );
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-45xl-8);
  min-width: 307.3px;
  font-size: var(--font-size-17xl);
}
.div-dedicated-support {
  align-self: stretch;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: var(--br-base);
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(27, 27, 27, 0),
    #1b1b1b 49.48%
  );
  border: 2px solid var(--color-gray-900);
  overflow: hidden;
  justify-content: center;
  padding: 0 0 0 var(--padding-xs);
  gap: var(--gap-xs);
  max-width: 100%;
  z-index: 5;
  font-size: var(--font-size-9xl);
}
.hobby-plan,
.pricing-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.hobby-plan {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.pricing-content {
  width: 950.1px;
  align-items: flex-end;
  gap: var(--gap-23xl-5);
}
.pricing-content-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-17xl);
  font-family: var(--font-helvetica);
}
.div-hidden-icon,
.icon27 {
  overflow: hidden;
  mix-blend-mode: normal;
}
.div-hidden-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.icon27 {
  height: 20px;
  width: 110px;
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.first-link-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-53xl);
}
.image-icon3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  mix-blend-mode: normal;
  z-index: 1;
}
.links-container {
  height: 233px;
  width: 337px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  min-width: 337px;
  max-width: 100%;
}
.links {
  position: relative;
  letter-spacing: 0.65px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 41px;
}
.h4-pb-6 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) var(--padding-5xl-5) 0;
  opacity: 0.6;
  mix-blend-mode: normal;
  z-index: 1;
  font-size: var(--font-size-smi);
  font-family: var(--font-helvetica);
}
.features1 {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 67px;
  z-index: 1;
}
.features-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
}
.docs1,
.pricing2 {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 53px;
  z-index: 1;
}
.docs1 {
  min-width: 39px;
}
.pricing-docs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
  gap: var(--gap-base);
}
.blog1 {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 34px;
  z-index: 1;
}
.middle-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.solutions {
  position: relative;
  letter-spacing: 0.65px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 81px;
}
.h4-pb-61 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) var(--padding-5xl-5) 0;
  opacity: 0.6;
  mix-blend-mode: normal;
  z-index: 1;
}
.slack-bot {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 16px;
  font-weight: 500;
  font-family: var(--font-inter);
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.h4-pb-6-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-smi);
  font-family: var(--font-helvetica);
}
.command,
.discord-bot,
.onsite-chat {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  min-width: 89px;
  z-index: 1;
}
.command,
.onsite-chat {
  min-width: 79px;
}
.onsite-chat {
  min-width: 91px;
}
.frame-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.legal {
  position: relative;
  letter-spacing: 0.65px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 46px;
}
.h4-pb-62 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl-5);
  opacity: 0.6;
  mix-blend-mode: normal;
  z-index: 1;
}
.terms-of-service {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 16px;
  font-weight: 500;
  font-family: var(--font-inter);
  z-index: 2;
}
.legal-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.privacy-policy {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 16px;
  font-weight: 500;
  font-family: var(--font-inter);
  display: inline-block;
  min-width: 107px;
  z-index: 1;
}
.legal-container-parent {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-smi);
  font-family: var(--font-helvetica);
}
.links-column,
.middle-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.middle-links {
  justify-content: flex-start;
  gap: var(--gap-105xl-5);
  min-width: 536.9px;
}
.links-column {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.copyright-2024 {
  position: relative;
  line-height: 24px;
}
.paragraph-text-base {
  width: 422.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  opacity: 0.6;
  mix-blend-mode: normal;
  max-width: 100%;
  z-index: 6;
}
.image-mx-auto-icon {
  position: absolute;
  top: 20px;
  left: 16px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  mix-blend-mode: normal;
}
.div-w-13 {
  height: 64px;
  flex: 1;
  position: relative;
  border-right: 1px solid var(--color-gray-200);
  border-left: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  mix-blend-mode: normal;
  z-index: 6;
}
.div-w-13-icon,
.div-w-13-icon1 {
  align-self: stretch;
  width: 56px;
  position: relative;
  max-height: 100%;
  mix-blend-mode: normal;
  min-height: 64px;
  z-index: 7;
}
.div-w-13-icon1 {
  object-fit: cover;
  z-index: 8;
}
.paragraph-text-base-parent,
.social-icons {
  width: 168px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.paragraph-text-base-parent {
  width: 995.5px;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  font-family: var(--font-helvetica);
}
.div-flex2,
.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.div-flex2 {
  align-self: stretch;
  padding: var(--padding-60xl) var(--padding-76xl) var(--padding-92xl)
    var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-12xs);
  z-index: 5;
  font-size: var(--font-size-base);
}
.testimonial-content {
  width: 1188.4px;
  gap: var(--gap-123xl);
  font-size: var(--font-size-13xl);
}
@media screen and (max-width: 1200px) {
  .div-flex2 {
    padding-right: var(--padding-28xl);
    box-sizing: border-box;
  }
  .testimonial-content {
    gap: var(--gap-52xl);
  }
}
@media screen and (max-width: 1050px) {
  .integral-part-of,
  .our-engineering-ds,
  .rely-on-scout,
  .scout-is-an,
  .to-engage-with {
    font-size: var(--font-size-7xl);
    line-height: 28px;
  }
  .a-plan-for,
  .custom,
  .hobby-price,
  .pro-price {
    font-size: var(--font-size-10xl);
    line-height: 32px;
  }
  .hobby-plan-content {
    flex-wrap: wrap;
  }
  .add-on-price1 {
    font-size: var(--font-size-10xl);
    line-height: 32px;
  }
  .div-request-box {
    flex: 1;
  }
  .div-dedicated-support {
    flex-wrap: wrap;
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
  .links-container,
  .middle-links {
    flex: 1;
  }
  .links-column {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .div-bg-stars {
    gap: var(--gap-base);
    min-width: 100%;
  }
  .testimonial-layout {
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
  .section-enterprise,
  .section-hobby {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
  .section-enterprise {
    padding-bottom: var(--padding-8xl);
  }
  .list-grid {
    flex-wrap: wrap;
    gap: var(--gap-28xl);
  }
  .support-content {
    min-width: 100%;
  }
  .pricing-content {
    gap: var(--gap-2xl);
  }
  .links-container,
  .middle-links {
    min-width: 100%;
  }
  .middle-links {
    gap: var(--gap-43xl);
  }
  .middle-links,
  .paragraph-text-base-parent {
    flex-wrap: wrap;
  }
  .div-flex2 {
    padding-top: var(--padding-32xl);
    padding-right: var(--padding-4xl);
    padding-bottom: var(--padding-53xl);
    box-sizing: border-box;
  }
  .testimonial-content {
    gap: var(--gap-16xl);
  }
}
@media screen and (max-width: 450px) {
  .div-hidden3 {
    padding-bottom: var(--padding-73xl);
    box-sizing: border-box;
  }
  .integral-part-of,
  .our-engineering-ds,
  .rely-on-scout,
  .scout-is-an,
  .to-engage-with {
    font-size: var(--font-size-lgi);
    line-height: 21px;
  }
  .div-bg-stars {
    padding-top: var(--padding-20xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
  .div-hidden4 {
    padding-bottom: var(--padding-73xl);
    box-sizing: border-box;
  }
  .a-plan-for {
    font-size: var(--font-size-3xl);
    line-height: 24px;
  }
  .whether-you-are {
    font-size: var(--font-size-base);
    line-height: 21px;
  }
  .hobby-price {
    font-size: var(--font-size-3xl);
    line-height: 24px;
  }
  .link-sign-up {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .section-hobby {
    flex: 1;
  }
  .pro-price {
    font-size: var(--font-size-3xl);
    line-height: 24px;
  }
  .link-sign-up1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .custom {
    font-size: var(--font-size-3xl);
    line-height: 24px;
  }
  .section-enterprise {
    flex: 1;
  }
  .dedicated-support1 {
    font-size: var(--font-size-3xl);
    line-height: 25px;
  }
  .list-grid {
    gap: var(--gap-4xl);
  }
  .add-on-price1 {
    font-size: var(--font-size-3xl);
    line-height: 24px;
  }
  .first-link-item {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .links-container {
    gap: var(--gap-base);
  }
  .middle-links {
    gap: var(--gap-12xl);
  }
  .testimonial-content {
    gap: var(--gap-lg);
  }
}
