.editpost-container {
    padding: 20px;
}

.editpost-title {
    text-align: center;
    color: black; 
    margin-bottom: 10px;
}

.editpost-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    color: black; 
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    color: black; /* 입력 박스 안의 글씨만 검게 변경 */
}

.form-group textarea {
    height: 200px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #E5F1FF;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #135194; /* 진한 파란색으로 변경 */
    color: white; /* 텍스트 색상을 흰색으로 변경 */
}
