.container {
  background-color: #e3ecf1;
}
.sidebar {
  background-color: #e3ecf1;
  /* border-right: 4px solid #202020; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s ease;
  color: #202020;
  height: 100%;
  z-index: 99;
}
.button {
  position: relative;
  top: 50%;
  left: 280px; /* 사이드바의 오른쪽 끝에 위치 */
  right : 0;/* 오른쪽 끝에 위치 */
  transform: translateY(-50%);
  width: 20px; /* 버튼 너비 */
  height: 60px; /* 버튼 높이 */
  z-index: 101; /* 사이드바보다 앞에 위치 */
  cursor: pointer; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s ease;
  border: 2px solid #202020;

}
.toggleIcon {
  width: 12px; /* 아이콘 너비 */
  height: 24px; /* 아이콘 높이 */
}
.content {
  padding: 40px 20px 0 40px; /* padding을 적절히 조정 */
  position: relative;
  width: 100%;
  height: calc(100vh - 40px); /* 전체 높이에서 패딩 값을 뺀 높이 */
  overflow-y: auto; /* 스크롤바 추가 */
}
.icon {
  margin: 0;
  color: #202020;
}
